.rights {
    font-size: 1rem;
    color: rgb(26, 26, 26);
}
.mail {
    margin-top: 10px;
    font-size: 1rem;
    color: rgb(41, 155, 255);
}

.footer {
    width: 100%;
    background-color: whitesmoke;
    color: rgb(26, 26, 26);
    text-align: center;
    padding: 20px 0;
    margin-top: 10vw;
}
.container {
    max-width: 100%;
    width: 100%;
    /* margin: auto; */
}
.footer__column{
    gap: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__secure{
    margin-top: 10px;
    font-size: 1rem;
    border: 0;
    color: rgb(26, 26, 26);
    transition: all .3s;
}
.footer__secure:hover{
    color: rgb(26, 26, 26);
}

@media (max-width: 800px) {
    .rights {
        font-size: 3vw;
    }
    .footer__secure{
        font-size: 3vw;
    }
}